    .post-article-heading {
        padding: 24px 0px 24px 0px;
        color: #000000;
        text-align: left;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 40px;
        line-height: 120%;
        font-weight: 700;
        position: relative;
        align-self: stretch;
    }

    .post-article-subheading {
        padding: 24px 0px 24px 0px;
        color: #000000;
        text-align: left;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 32px;
        line-height: 120%;
        font-weight: 700;
        position: relative;
        align-self: stretch;
    }

    .post-article-paragraph {
        font-family: "Roboto-Regular", sans-serif;
        font-size: 16px;
        line-height: 150%;
        font-weight: 400;
        color: #000000;
        text-align: left;
    }

    .post-article-image {
        padding: 48px 0px 48px 0px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }

    .post-article-image .image-container {
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
        object-fit: cover;
    }

    .post-article-image .caption-figure {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }

    .post-article-image .caption-figure .image-caption-rectangle {
        background: #000;
        align-self: stretch;
        flex-shrink: 0;
        width: 2px;
        position: relative;
    }

    .post-article-image .caption-figure .image-caption {
        color: #000;
        text-align: left;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 14px;
        line-height: 150%;
        font-weight: 400;
        position: relative;
        flex: 1;
    }

    .post-article-quote {
        padding: 36px 0px 36px 0px;
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
    }

    .post-article-quote .quote-figure {
        background: var(--white, #ffffff);
        padding: 0px 20px 0px 0px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: flex-start;
        justify-content: flex-start;
        flex: 1;
        position: relative;
        overflow: hidden;
    }

    .post-article-quote .quote-figure .divider {
        background: var(--border-primary, #000000);
        align-self: stretch;
        flex-shrink: 0;
        width: 2px;
        position: relative;
    }

    .post-article-quote .quote-figure .quote-text {
        color: var(--text-primary, #000000);
        text-align: left;
        font-family: "Inter-Italic", sans-serif;
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        font-style: italic;
        position: relative;
        flex: 1;
    }